{% extends 'admin_app/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <div id="dashboard-wrapper" class="dashboard-outer">
          <div class="dashboard-inner">
            <!-- Dashboard Wrapper -->
            <div class="dashboard-wrapper">
              <div id="main-dashboard" class="section-wrapper">
                <!-- Dashboard content -->
                <div class="dashboard-columns">
                  <!-- Page title -->
                  <div class="contacts-title-wrapper">
                    <h3 class="contacts-title">Пользователи</h3>
                    <!-- Filter input -->
                    <div class="list-filter">
                      <a href="{% url 'admin_app:user_create' %}" class="button is-secondary is-raised is-long-1" style="margin-left: 8px;"> <span class="icon is-small"> <i class="fas fa-plus"></i> </span> <span>Пользователь</span> </a>
                    </div>
                  </div>
                  <div class="flex-card is-contact-list light-bordered card-overflow is-hidden-mobile">
                    <!-- Contacts table -->
                    <table class="table contacts-table">
                      <!-- Table header -->
                      <thead>
                        <tr>
                          <th>
                            <div class="b-checkbox is-muted is-secondary">
                              <input x-on:change="toggleAllCheckboxes()" id="checkbox-docs-all" class="styled" type="checkbox">
                              <label for="checkbox-docs-all"></label>
                            </div>
                          </th>
                          <th class="w-50">
                            <!-- Filter dropdown -->
                            <div x-ref="filterdrop1" @click.away="$refs.filterdrop1.classList.remove('is-active')" class="dropdown filter-dropdown dropdown-trigger">
                              <button @click="$refs.filterdrop1.classList.add('is-active')" class="button"> <span>Name</span> <i class="material-icons">keyboard_arrow_down</i> </button>
                              <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                  <div class="dropdown-item filter-title">Order</div>
                                  <a href="#" class="dropdown-item"> <span>Ascending</span> </a>
                                  <a class="dropdown-item"> <span>Descending</span> </a>
                                </div>
                              </div>
                            </div>
                          </th>
                          <th>
                            <!-- Filter dropdown -->
                            <div x-ref="filterdrop2" @click.away="$refs.filterdrop2.classList.remove('is-active')" class="dropdown filter-dropdown dropdown-trigger">
                              <button @click="$refs.filterdrop2.classList.add('is-active')" class="button"> <span>Modification</span> <i class="material-icons">keyboard_arrow_down</i> </button>
                              <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                  <div class="dropdown-item filter-title">Order</div>
                                  <a href="javascript:void(0);" class="dropdown-item"> <span><i class="fa fa-check"></i> Ascending</span> </a>
                                  <a href="javascript:void(0);" class="dropdown-item"> <span><i class="fa fa-check"></i> Descending</span> </a>
                                  <div class="dropdown-divider"></div>
                                  <div class="dropdown-item filter-title">Display</div>
                                  <a href="javascript:void(0);" class="dropdown-item is-active"> <span><i class="fa fa-check"></i> Modification</span> </a>
                                  <a href="javascript:void(0);" class="dropdown-item is-disabled"> <span><i class="fa fa-check"></i> Projects</span> </a>
                                  <a href="javascript:void(0);" class="dropdown-item"> <span><i class="fa fa-check"></i> Type</span> </a>
                                  <a href="javascript:void(0);" class="dropdown-item"> <span><i class="fa fa-check"></i> Size</span> </a>
                                </div>
                              </div>
                            </div>
                          </th>
                          <th>
                            <!-- Filter dropdown -->
                            <div x-ref="filterdrop3" @click.away="$refs.filterdrop3.classList.remove('is-active')" class="dropdown filter-dropdown dropdown-trigger">
                              <button @click="$refs.filterdrop3.classList.add('is-active')" class="button"> <span>Projects</span> <i class="material-icons">keyboard_arrow_down</i> </button>
                              <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                  <div class="dropdown-item filter-title">Order</div>
                                  <a href="javascript:void(0);" class="dropdown-item"> <span><i class="fa fa-check"></i> Ascending</span> </a>
                                  <a href="javascript:void(0);" class="dropdown-item"> <span><i class="fa fa-check"></i> Descending</span> </a>
                                  <div class="dropdown-divider"></div>
                                  <div class="dropdown-item filter-title">Display</div>
                                  <a href="javascript:void(0);" class="dropdown-item is-disabled"> <span><i class="fa fa-check"></i> Modification</span> </a>
                                  <a href="javascript:void(0);" class="dropdown-item is-active"> <span><i class="fa fa-check"></i> Projects</span> </a>
                                  <a href="javascript:void(0);" class="dropdown-item"> <span><i class="fa fa-check"></i> Type</span> </a>
                                  <a href="javascript:void(0);" class="dropdown-item"> <span><i class="fa fa-check"></i> Size</span> </a>
                                </div>
                              </div>
                            </div>
                          </th>
                          <th class="w-5">
                            <!-- Filter dropdown -->
                            <div x-ref="filterdrop4" @click.away="$refs.filterdrop4.classList.remove('is-active')" class="dropdown filter-dropdown is-right dropdown-trigger">
                              <button @click="$refs.filterdrop4.classList.add('is-active')" class="button"> <span class="material-icons">subject</span> <i class="material-icons">keyboard_arrow_down</i> </button>
                              <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                  <div class="dropdown-item filter-title">View type</div>
                                  <a href="#" class="dropdown-item is-spaced is-active"> <span><i class="fa fa-check"></i> List view</span> <i class="material-icons">view_list</i> </a>
                                  <a class="dropdown-item is-spaced"> <span><i class="fa fa-check"></i> Grid view</span> <i class="material-icons">view_module</i> </a>
                                </div>
                              </div>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <!-- Table body -->
                      <tbody>
                        {% for u in users|slice:5 %}
                        <tr>
                          <td>
                            <div class="b-checkbox is-muted is-secondary">
                              <input id="checkbox-contacts-1" class="styled" type="checkbox">
                              <label for="checkbox-contacts-1"></label>
                            </div>
                          </td>
                          <td class="contact-preview"> <span class="inner">
                            {% if u.profile.image %}
                            <img src="{{ u.profile.image.url }}" alt="">
                            {% else %}
                            <img src="{% static 'images/favicon.png' %}" alt="">
                            {% endif %}
                            {% if u.first_name and u.last_name %}
                            <a href="{% url 'admin_app:users_detail' pk=u.pk %}">{{ u.first_name }} {{ u.last_name }}</a>
                            {% else %}
                            <a href="{% url 'admin_app:users_detail' pk=u.pk %}">{{ u.username }}</a>
                            {% endif %}
                            <i class="material-icons">bookmark_border</i> </span> </td>
                          <td class="modifications"> <span><span class="date">--</span> <span class="time"></span> </span> <span><small></small></span> </td>
                          <td class="projects"> <span class="inner"> <span class="project-count">3 projects</span>
                            <a href="{% url 'admin_app:user_update' pk=user.pk %}" type="button" class="button">Изменить</a>
                            </span>
                          </td>
                          <td class="actions">
                            <!--Dropdown-->
                            <div x-ref="contactdrop1" @click.away="$refs.contactdrop1.classList.remove('is-active')" class="dropdown is-right dropdown-trigger contacts-list-dropdown">
                              <button @click="$refs.contactdrop1.classList.add('is-active')" class="button"> <i class="material-icons">more_horiz</i> </button>
                              <div class="dropdown-menu is-text-bigger" role="menu">
                                <div class="dropdown-content">
                                  <a class="dropdown-item"> <i class="sl icon-eye"></i> <span> <span>View</span> <span>View contact details</span> </span>
                                  </a>
                                  <a href="#" class="dropdown-item"> <i class="sl icon-pencil"></i> <span> <span>Edit</span> <span>Edit contact details</span> </span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a href="#" class="dropdown-item"> <i class="sl icon-bell"></i> <span> <span>Notifications</span> <span>Manage contact notifications</span> </span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item"> <i class="sl icon-trash"></i> <span> <span>Delete</span> <span>Delete this contact</span> </span>
                                  </a>
                                </div>
                              </div>
                            </div> <a href="#" class="button is-hidden"><i class="material-icons">remove_red_eye</i> </a> </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!--Placeholder-->
                  <div class="flex-card is-not-supported light-bordered is-hidden-desktop is-hidden-tablet"> <img src="{% static 'admin_panel/images/not-mobile.svg' %}" alt="">
                    <div class="has-text-centered">
                      <h3>Ouch...</h3>
                      <p>Sorry, the contacts list is not supported on mobile. Please try a device with a wider screen.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Create contact Modal -->
          <div id="new-contact-modal" class="modal modal-lg create-contact-modal modal-hero" >
            <div @click="toggleNewContactModal()" class="modal-background"></div>
            <div class="modal-content">
              <div class="flex-card simple-shadow">
                <h2 class="title is-5">Create contact</h2>
                <div class="card-body">
                  <div class="has-text-centered">
                    <div class="image"> <img src="/img/logo/square-violet.svg" alt=""> </div>
                    <div class="help-text has-text-centered">Create a new contact by entering its basic details. You will then be able to edit it and to add more detailed informations.</div>
                    <div class="columns is-multiline">
                      <div class="column is-6">
                        <div class="field">
                          <div class="control has-icons-left">
                            <input class="input is-medium" type="text" placeholder="First Name"> <span class="icon is-left"> <i class="fa fa-user"></i> </span> </div>
                        </div>
                      </div>
                      <div class="column is-6">
                        <div class="field">
                          <div class="control has-icons-left">
                            <input class="input is-medium" type="text" placeholder="Last Name"> <span class="icon is-left"> <i class="fa fa-user"></i> </span> </div>
                        </div>
                      </div>
                      <div class="column is-6">
                        <div class="field">
                          <div class="control has-icons-left">
                            <input class="input is-medium" type="text" placeholder="Email address"> <span class="icon is-left"> <i class="fa fa-envelope"></i> </span> </div>
                        </div>
                      </div>
                      <div class="column is-6">
                        <div class="field">
                          <div class="control has-icons-left">
                            <input class="input is-medium" type="text" placeholder="Company"> <span class="icon is-left"> <i class="fa fa-building"></i> </span> </div>
                        </div>
                      </div>
                      <div class="column is-6">
                        <div class="field">
                          <div class="control has-icons-left">
                            <input class="input is-medium" type="text" placeholder="Position"> <span class="icon is-left"> <i class="fa fa-briefcase"></i> </span> </div>
                        </div>
                      </div>
                      <div class="column is-6">
                        <div class="field">
                          <div class="control has-icons-left">
                            <input class="input is-medium" type="text" placeholder="Location"> <span class="icon is-left"> <i class="fa fa-map-marker"></i> </span> </div>
                        </div>
                      </div>
                    </div>
                    <div class="is-prospect">
                      <div class="field">
                        <label class="f-switch is-secondary scale-7">
                          <input id="prospectSwitch" type="checkbox" class="is-secondary"> <i></i> </label>
                        <label for="prospectSwitch"><span>is this contact a prospect?</span> </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button @click="toggleNewContactModal()" type="button" class="button modal-dismiss">Cancel</button>
                  <button type="submit" class="button is-modal">Create Contact</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endblock %}
</body>
</html>