{% extends 'admin_app/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <div id="dashboard-wrapper" class="dashboard-outer">
            <div class="dashboard-inner">
              <!-- Dashboard Wrapper -->
              <div class="dashboard-wrapper">
                <div id="main-dashboard" class="section-wrapper">
                  <!-- Dashboard content -->
                  <div class="dashboard-columns">
                    <div class="contact-profile-wrap">
                      <!-- Page title -->
                      <div class="contacts-title-wrapper">
                        <h3 class="contacts-title">Профиль</h3>
                        <!-- Dropdown -->
                        <div class="list-filter">
                          <a href="{% url 'admin_app:user_update' pk=user.pk %}" class="button is-secondary is-raised has-icon"> <i class="icon icon-pencil"></i> <p>Изменить</p>
                          </a>
                        </div>
                      </div>
                      <div class="columns contact-profile">
                        <!-- Avatar Card -->
                        <div class="column is-4">
                          <div class="flex-card is-avatar light-bordered card-overflow">
                            <div class="inner">
                              <div class="contact-block">
                                <!-- Avatar -->
                                <div class="avatar-wrapper">
                                  {% if user_profile.image %}
                                  <img src="{{ user_profile.image.url }}" alt="">
                                  {% else %}
                                  <img src="{% static 'images/favicon.png' %}" alt="">
                                  {% endif %}
                                </div>
                                <!-- Meta -->
                                <div class="contact-name">{{ user.first_name }} {{ user.last_name }}</div>
                                <div class="contact-company">{{ user.username }}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="column is-8">
                          <!-- Contact informations -->
                          <div class="flex-card is-contact-info light-bordered card-overflow">
                            <!-- Tabs -->
                            <div class="navigation-tabs single-contact-tabs animated-tabs simple-tabs">
                              <div class="tabs">
                                <ul>
                                  <li class="is-active"> <a>Основное</a> </li>
                                  <li class=""> <a>Events</a> </li>
                                  <li class=""> <a>Calls</a> </li>
                                </ul>
                              </div>
                              <!-- General informations -->
                              <div x-show.transition="activeTab === 'overview-tab'" class="navtab-content is-active" style="">
                                <div class="columns">
                                  <div class="column is-6">
                                    <!-- Info block -->
                                    <div class="info-block">
                                      <div class="info-label">Email</div>
                                      <div class="info-content is-email">{{ user.email }}</div>
                                    </div>
                                    <!-- Info block -->
                                    <div class="info-block">
                                      <div class="info-label">Номер телефона</div>
                                      <div class="info-content">{{ user.phone_number }}</div>
                                    </div>
                                    <!-- Info block -->
                                    <div class="info-block">
                                      <div class="info-label">Компания</div>
                                      {% if user.profile.company_profiles.exists %}
                                        <div class="info-content">{{ user.profile.company_profiles }}</div>
                                      {% else %}
                                        <div class="info-content">Этот пользователь не связан ни с одной компанией.</div>
                                      {% endif  %}
                                    </div>
                                    <!-- Info block -->
                                    <div class="info-block">
                                      <div class="info-label">Тип профиля</div>
                                      <div class="info-content">{{ user.profile.get_account_type_display }}</div>
                                    </div>
                                    <!-- Info block -->
                                    <div class="info-block">
                                      <div class="info-label">Местоположение</div>
                                      <div class="info-content">г. {{ user.profile.get_location }}</div>
                                    </div>
                                  </div>
                                  <div class="column is-6">
                                    <!-- Contact summary -->
                                    <div class="info-block">
                                      <div class="info-label">О пользователе:</div>
                                      <div class="info-content is-notes">{{ user.profile.about }}</div>
                                    </div>
                                  </div>
                                </div>
                                <hr>
                                <div class="lifetime-wrapper" style="justify-content: center;">
                                  <div class="lifetime-won">
                                    <a href="{% url 'admin_app:user_delete' pk=user.pk %}"><button class="button is-secondary is-raised has-icon">Удалить пользователя</button></a>
                                  </div>
                                </div>

                              <div class="navtab-content" style="display: none;">
                                <div class="columns">
                                  <div class="column">
                                    <!-- Event block -->
                                    <div class="event-block">
                                      <div class="date-block"> <span>18</span> <span>Oct</span> </div>
                                      <!-- Event meta -->
                                      <div class="event-meta"> <span class="event-name"> Presentation of our latest release. </span> <span class="meta"> <span class="meta-element"> <i class="sl icon-location"></i> <span>Customer's Office</span> </span> <span class="meta-element"> <i class="sl icon-clock"></i> <span>10:30am</span> </span>
                                        </span>
                                      </div>
                                      <!-- Dropdown -->
                                      <div x-ref="eventdrop1" @click.away="$refs.eventdrop1.classList.remove('is-active')" class="dropdown is-right dropdown-trigger contact-events-dropdown">
                                        <button @click="$refs.eventdrop1.classList.add('is-active')" class="button"> <i class="material-icons">more_vert</i> </button>
                                        <div class="dropdown-menu is-text-bigger" role="menu">
                                          <div class="dropdown-content">
                                            <a href="#" class="dropdown-item"> <i class="sl icon-pencil"></i> <span> <span>Edit</span> <span>Edit event details</span> </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item"> <i class="sl icon-share"></i> <span> <span>Share</span> <span>Share with teamates</span> </span>
                                            </a>
                                            <a href="#" class="dropdown-item"> <i class="sl icon-bell"></i> <span> <span>Notify me</span> <span>Remind me before this event</span> </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item"> <i class="sl icon-trash"></i> <span> <span>Delete</span> <span>Delete this event</span> </span>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- Event block -->
                                    <div class="event-block is-disabled">
                                      <div class="date-block"> <span>03</span> <span>Oct</span> </div>
                                      <!-- Event meta -->
                                      <div class="event-meta"> <span class="event-name"> Conference call with company board. </span> <span class="meta"> <span class="meta-element"> <i class="sl icon-location"></i> <span>Here</span> </span> <span class="meta-element"> <i class="sl icon-clock"></i> <span>15:00pm</span> </span>
                                        </span>
                                      </div>
                                      <!-- Dropdown -->
                                      <div x-ref="eventdrop2" @click.away="$refs.eventdrop2.classList.remove('is-active')" class="dropdown is-right dropdown-trigger contact-events-dropdown">
                                        <button @click="$refs.eventdrop2.classList.add('is-active')" class="button"> <i class="material-icons">more_vert</i> </button>
                                        <div class="dropdown-menu is-text-bigger" role="menu">
                                          <div class="dropdown-content">
                                            <a href="#" class="dropdown-item"> <i class="sl icon-pencil"></i> <span> <span>Edit</span> <span>Edit event details</span> </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item"> <i class="sl icon-share"></i> <span> <span>Share</span> <span>Share with teamates</span> </span>
                                            </a>
                                            <a href="#" class="dropdown-item"> <i class="sl icon-bell"></i> <span> <span>Notify me</span> <span>Remind me before this event</span> </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item"> <i class="sl icon-trash"></i> <span> <span>Delete</span> <span>Delete this event</span> </span>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- Event block -->
                                    <div class="event-block is-disabled">
                                      <div class="date-block"> <span>19</span> <span>Sep</span> </div>
                                      <!-- Event meta -->
                                      <div class="event-meta"> <span class="event-name"> First meeting with prospect. </span> <span class="meta"> <span class="meta-element"> <i class="sl icon-location"></i> <span>Customer's Office</span> </span> <span class="meta-element"> <i class="sl icon-clock"></i> <span>09:00am</span> </span>
                                        </span>
                                      </div>
                                      <!-- Dropdown -->
                                      <div x-ref="eventdrop3" @click.away="$refs.eventdrop3.classList.remove('is-active')" class="dropdown is-right dropdown-trigger contact-events-dropdown">
                                        <button @click="$refs.eventdrop3.classList.add('is-active')" class="button"> <i class="material-icons">more_vert</i> </button>
                                        <div class="dropdown-menu is-text-bigger" role="menu">
                                          <div class="dropdown-content">
                                            <a href="#" class="dropdown-item"> <i class="sl icon-pencil"></i> <span> <span>Edit</span> <span>Edit event details</span> </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item"> <i class="sl icon-share"></i> <span> <span>Share</span> <span>Share with teamates</span> </span>
                                            </a>
                                            <a href="#" class="dropdown-item"> <i class="sl icon-bell"></i> <span> <span>Notify me</span> <span>Remind me before this event</span> </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item"> <i class="sl icon-trash"></i> <span> <span>Delete</span> <span>Delete this event</span> </span>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Calls -->
                              <div x-show.transition="activeTab === 'calls-tab'" class="navtab-content" style="display: none;">
                                <!-- Logged call -->
                                <div class="is-phone-block">
                                  <div class="block-wrap"> <span class="block-head"> <a href="#"> <i class="fas fa-phone"></i> <small>Oct 18, 2020</small> </a> <div class="people"> <a href="#"> <img src="/img/avatars/nick.jpg" alt=""> </a> <a href="#"> <img src="/img/avatars/elie.jpg" alt=""> </a> <a href="#"> <img src="/img/avatars/stella.jpg" alt=""> </a> <span class="is-font is-weight-600 rem-100 ml-2">+ 2</span> </div>
                                  </span>
                                  <!-- Content -->
                                  <div class="block-container">
                                    <div class="meta-group">
                                      <div class="meta-block">
                                        <div class="call-label">Called at</div>
                                        <div class="call-info">10:23 am</div>
                                      </div>
                                      <div class="meta-block">
                                        <div class="call-label">Call Type</div>
                                        <div class="call-info">Outgoing call</div>
                                      </div>
                                      <div class="meta-block">
                                        <div class="call-label">Call Duration</div>
                                        <div class="call-info">15 minutes</div>
                                      </div>
                                    </div>
                                    <div class="meta-block">
                                      <div class="call-label">Conversation abstract</div>
                                      <div class="call-info is-conversation">
                                        Lorem ipsum dolor sit amet, cu ius oratio appareat partiendo. Solet civibus nam te. Eu vel veri putent. Et suas reprimique adversarium duo, ex vel ridens graecis. Mel ipsum oratio voluptatum et.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="block-footer">
                                    <div class="buttons"> <a class="button is-rounded-md">Edit Log</a> <a class="button is-rounded-md">Remove</a> </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Logged call -->
                              <div class="is-phone-block">
                                <div class="block-wrap"> <span class="block-head"> <a href="#"> <i class="fas fa-phone"></i> <small>Oct 12, 2020</small> </a> <div class="people"> <a href="#"> <img src="/img/avatars/terry.jpg" alt=""> </a> <a href="#"> <img src="/img/avatars/alex.jpg" alt=""> </a> </div> </span>
                                  <!-- Content -->
                                  <div class="block-container">
                                    <div class="meta-group">
                                      <div class="meta-block">
                                        <div class="call-label">Called at</div>
                                        <div class="call-info">9:12 am</div>
                                      </div>
                                      <div class="meta-block">
                                        <div class="call-label">Call Type</div>
                                        <div class="call-info">Outgoing call</div>
                                      </div>
                                      <div class="meta-block">
                                        <div class="call-label">Call Duration</div>
                                        <div class="call-info">7 minutes</div>
                                      </div>
                                    </div>
                                    <div class="meta-block">
                                      <div class="call-label">Conversation abstract</div>
                                      <div class="call-info is-conversation">
                                        Lorem ipsum dolor sit amet, cu ius oratio appareat partiendo. Solet civibus nam te. Eu vel veri putent. Et suas reprimique adversarium duo, ex vel ridens graecis. Mel ipsum oratio voluptatum et.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="block-footer">
                                    <div class="buttons"> <a class="button is-rounded-md">Edit Log</a> <a class="button is-rounded-md">Remove</a> </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Log call action -->
                              <div class="action-wrapper">
                                <a class="button is-secondary is-medium is-raised"> <span class="icon is-small"> <i class="fas fa-plus"></i> </span> <span>Log a Call</span> </a>
                              </div>
                            </div>
                            <!-- /Calls -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
    {% endblock %}
</body>
</html>