{% extends 'base.html' %}
<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block content %}
<section class="ls-section" style="border: none; padding-top: 20px;">
    <div class="auto-container" style="min-height: 600px; position: relative;">

        <!-- Кнопка "Назад" -->
        <a class="link-back link-back-mb d-lg-none" href="javascript:history.back()">Назад</a>

        <div class="text-center" >
            <img style="width: 200px;" src="{% static 'images/favicon.png' %}" alt="">
        </div>

        <div class="job-block" style="background-color: #fff; border-radius: 10px; max-width: 400px; margin: 0 auto;">
            <div class="inner-box">
                <div class="container">
                    <ul style="list-style: none; padding: 0; margin: 0;">
                        <!-- Мой профиль -->
                        <li style="display: flex; align-items: center; justify-content: space-between; padding: 10px 0; border-bottom: 1px solid #f0f0f0;">
                            <div style="display: flex; align-items: center;">
                                <span class="icon fi fi-rr-thumbtack"
                                      style="margin-right: 15px; font-size: 22px; color: #03b003;"></span>
                                <span style="font-size: 16px; font-weight: 500;">Пользовательское соглашение</span>
                            </div>
                            <span style="color: #333; font-size: 20px;">&rsaquo;</span>
                        </li>

                        <!-- Мой город -->
                        <li style="display: flex; align-items: center; justify-content: space-between; padding: 10px 0; ">
                            <div style="display: flex; align-items: center;">
                                <span class="icon fi fi-rr-social-network"
                                      style="margin-right: 15px; font-size: 22px; color: #03b003;"></span>
                                <span style="font-size: 16px; font-weight: 500;">Оценить сайт</span>
                            </div>
                            <span style="color: #333; font-size: 20px;">&rsaquo;</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<style>


</style>
{% endblock %}
</body>
</html>