{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<section class="ls-section" style="border: none; padding-top: 20px; min-height: 700px;">
    <div class="auto-container" style="min-height: 500px;">
        <div class="tabs" style="background: rgba(64, 79, 104, 0.05); border-radius: 5px; padding: 5px;">
            <button class="tab-button active" onclick="openTab('my-cards')"
                    style="border-radius: 5px; border-bottom: none; color: black; width: 50%; margin: 0;">Одобрено
            </button>
            <button class="tab-button" onclick="openTab('other-cards')"
                    style="border-radius: 5px; border-bottom: none; color: black; width: 50%; margin: 0;">Отклонено
            </button>
        </div>

        <!-- Кнопка "Назад" -->

        <a href="javascript:history.back()" class="back-button">
            <div style="margin-top: 4px;">
                <span class="icon fi fi-rr-angle-left" style="font-size: 15px; margin-right: 5px;"></span>
            </div>
            Назад
        </a>
        <style>
            .back-button {
                top: 15px;
                left: 15px;
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                color: #007AFF; /* Синий цвет в стиле iOS */
                text-decoration: none;
                padding: 0px 10px;
                background-color: transparent;
                border-radius: 5px;
                transition: background-color 0.2s ease;
                z-index: 1000;
                margin-bottom: 15px;
            }

            .back-button:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }

        </style>

        <div id="my-cards" class="tab-content active">

            {% if my_responses %}
            {% for response in my_responses %}
            <div class="job-block" style="margin-bottom: 10px;">
                <div class="inner-box">
                    <div class="content">

                        <span class="company-logo">
                            {% if response.user.profile.company_profile and response.user.profile.company_profile.logo %}
                            <a href="{% url 'jobs:vacancy-detail' pk=response.job.pk %}">
                                <img style="border-radius: 5px;" src="{{ response.user.profile.company_profile.logo.url }}" alt="Company Logo">
                            </a>
                            {% elif response.user.profile.image %}
                            <a href="{% url 'jobs:vacancy-detail' pk=response.job.pk %}">
                                <img style="border-radius: 5px;" src="{{ response.user.profile.image.url }}" alt="User Image">
                            </a>
                            {% else %}
                            <a href="{% url 'jobs:vacancy-detail' pk=response.job.pk %}">
                                <img style="border-radius: 5px;" src="{% static 'images/favicon.png' %}" alt="Default Image">
                            </a>
                            {% endif %}
                        </span>

                        <h4>
                            {% if response.user.profile.company_profile and response.user.profile.company_profile.name %}
                            <a href="{% url 'users:profile-response' pk=response.user.pk %}">{{ response.user.profile.company_profile.name }} | </a>
                            <a href="{% url 'jobs:vacancy-detail' pk=response.job.pk %}">
                                <span>{{ response.job.title }}</span>
                            </a>
                            {% else %}
                            <a href="{% url 'users:profile-response' pk=response.user.pk %}">{{ response.user.first_name }} {{ response.user.last_name }} | </a>
                            <a href="{% url 'jobs:vacancy-detail' pk=response.job.pk %}">
                                <span>{{ response.job.title }}</span>
                            </a>
                            {% endif %}
                        </h4>
                        <ul class="job-info">
                            {% if response.user.phone_number %}
                            <li><span class="icon flaticon-briefcase"></span>{{ response.user.phone_number }} </li>
                            {% endif %}
                        </ul>

                        <div class="d-flex justify-content-between align-items-center">
                                <ul class="job-other-info">
                                    {% if response.job.time_count == 'full' %}
                                    <li class="privacy">Полная занятость</li>
                                    {% elif response.job.time_count == 'part' %}
                                    <li class="time">Договорная занятость</li>
                                    {% else %}
                                    <li class="required">Единоразовая услуга</li>
                                    {% endif %}
                                </ul>
                                <div class="option-box">
                                    <ul class="option-list d-flex" style="list-style: none; padding: 0; margin: 0;">
                                        <!-- Одобрить отклик -->
                                        <li style="margin-right: 10px; background: #34A853; border-radius: 25%;">
                                            <form method="post" action="{% url 'jobs:approve_job_response' pk=response.job.pk response_id=response.id %}">
                                                {% csrf_token %}
                                                <button type="submit" style="background-color: #34A853; color: white;" data-text="Одобрить">
                                                    <div style="margin-top: 2px;">
                                                        <span style="margin-top: 2px;" class="fi fi-rr-checkbox"></span>
                                                    </div>
                                                </button>
                                            </form>
                                        </li>

                                        <!-- Отклонить отклик -->
                                        <li style="margin-right: 10px; background: #ec2929; border-radius: 25%;">
                                            <form method="post" action="{% url 'jobs:reject_job_response' pk=response.job.pk response_id=response.id %}">
                                                {% csrf_token %}
                                                <button type="submit" style="background-color: #ec2929; color: white;" data-text="Отказать">
                                                    <div style="margin-top: 2px;">
                                                        <span style="margin-top: 2px;" class="fi fi-rr-cross-circle"></span>
                                                    </div>
                                                </button>
                                            </form>
                                        </li>

                                        <!-- Отправить отклик (если это необходимо) -->
                                        <li style="margin-right: 10px; background: #55ACEE; border-radius: 25%;">
                                            <a href="#" style="color: white; background-color: #55ACEE;" data-text="Отправить">
                                                <div style="padding-top: 2px;">
                                                    <span class="fi fi-rr-paper-plane"></span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                    </div>

                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="container text-center" style="margin-top: 30px;">
                <p>У вас еще нет одобренных клиентов.</p>
            </div>
            {% endif %}
        </div>

        <!-- МОИ ОТКЛИКИ-->

        <div id="other-cards" class="tab-content">
            {% if reject_responses %}
            {% for response in reject_responses %}
            <div class="job-block" style="margin-bottom: 10px;">
                <div class="inner-box">
                    <div class="content">

                        <span class="company-logo">
                            {% if response.user.profile.company_profile and response.user.profile.company_profile.logo %}
                            <a href="{% url 'jobs:vacancy-detail' pk=response.job.pk %}">
                                <img style="border-radius: 5px;" src="{{ response.user.profile.company_profile.logo.url }}" alt="Company Logo">
                            </a>
                            {% elif response.user.profile.image %}
                            <a href="{% url 'jobs:vacancy-detail' pk=response.job.pk %}">
                                <img style="border-radius: 5px;" src="{{ response.user.profile.image.url }}" alt="User Image">
                            </a>
                            {% else %}
                            <a href="{% url 'jobs:vacancy-detail' pk=response.job.pk %}">
                                <img style="border-radius: 5px;" src="{% static 'images/favicon.png' %}" alt="Default Image">
                            </a>
                            {% endif %}
                        </span>

                        <h4>
                            {% if response.user.profile.company_profile and response.user.profile.company_profile.name %}
                            <a href="{% url 'users:profile-response' pk=response.user.pk %}">{{ response.user.profile.company_profile.name }} | </a>
                            <a href="{% url 'jobs:vacancy-detail' pk=response.job.pk %}">
                                <span>{{ response.job.title }}</span>
                            </a>
                            {% else %}
                            <a href="{% url 'users:profile-response' pk=response.user.pk %}">{{ response.user.first_name }} {{ response.user.last_name }} | </a>
                            <a href="{% url 'jobs:vacancy-detail' pk=response.job.pk %}">
                                <span>{{ response.job.title }}</span>
                            </a>
                            {% endif %}
                        </h4>
                        <ul class="job-info">
                            {% if response.user.phone_number %}
                            <li><span class="icon flaticon-briefcase"></span>{{ response.user.phone_number }} </li>
                            {% endif %}
                        </ul>

                        <div class="d-flex justify-content-between align-items-center">
                                <ul class="job-other-info">
                                    {% if response.job.time_count == 'full' %}
                                    <li class="privacy">Полная занятость</li>
                                    {% elif response.job.time_count == 'part' %}
                                    <li class="time">Договорная занятость</li>
                                    {% else %}
                                    <li class="required">Единоразовая услуга</li>
                                    {% endif %}
                                </ul>
                                <div class="option-box">
                                    <ul class="option-list d-flex" style="list-style: none; padding: 0; margin: 0;">
                                        <!-- Одобрить отклик -->
                                        <li style="margin-right: 10px; background: #34A853; border-radius: 25%;">
                                            <form method="post" action="{% url 'jobs:approve_job_response' pk=response.job.pk response_id=response.id %}">
                                                {% csrf_token %}
                                                <button type="submit" style="background-color: #34A853; color: white;" data-text="Одобрить">
                                                    <div style="margin-top: 2px;">
                                                        <span style="margin-top: 2px;" class="fi fi-rr-checkbox"></span>
                                                    </div>
                                                </button>
                                            </form>
                                        </li>

                                        <!-- Отклонить отклик -->
                                        <li style="margin-right: 10px; background: #ec2929; border-radius: 25%;">
                                            <form method="post" action="{% url 'jobs:reject_job_response' pk=response.job.pk response_id=response.id %}">
                                                {% csrf_token %}
                                                <button type="submit" style="background-color: #ec2929; color: white;" data-text="Удалить">
                                                    <div style="margin-top: 2px;">
                                                        <span style="margin-top: 2px;" class="fi fi-rr-trash"></span>
                                                    </div>
                                                </button>
                                            </form>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                    </div>

                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="container text-center" style="margin-top: 20px;">
                <p>Вы еще не отказали никому.</p>
            </div>
            {% endif %}
        </div>


        <!-- КОНЕЦ МОИ ОТКЛИКИ -->

        <style>
            .tabs {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                background-color: #f1f1f1;
                border-radius: 5px;
            }

            .tab-button {
                padding: 10px 20px;
                background-color: #f1f1f1;
                border: none;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s;
                width: 50%; /* Каждая кнопка занимает половину длины */
                margin: 0; /* Убираем отступы */
                border-radius: 5px;
            }

            .tab-button.active {
                background-color: white;
                border-bottom: 2px solid #000;
            }

            .tab-content {
                display: none;
            }

            .tab-content.active {
                display: block;
            }

            .card {
                background-color: #e6e6fa;
                padding: 20px;
                border-radius: 10px;
                font-size: 20px;
            }
        </style>


        <script>
            function openTab(tabName) {
                // Убираем класс active у всех вкладок и контента
                var tabs = document.querySelectorAll('.tab-button');
                var contents = document.querySelectorAll('.tab-content');

                tabs.forEach(function (tab) {
                    tab.classList.remove('active');
                });

                contents.forEach(function (content) {
                    content.classList.remove('active');
                });

                // Добавляем класс active для выбранной вкладки и контента
                document.querySelector(`[onclick="openTab('${tabName}')"]`).classList.add('active');
                document.getElementById(tabName).classList.add('active');
            }

        </script>

    </div>
</section>
{% endblock %}
</body>
</html>