{% extends 'base.html' %}
<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container mt-3 mb-5">
    <!-- Кнопка "Назад" -->
    <a class="link-back link-back-mb d-lg-none" href="javascript:history.back()">Назад</a>
    <h2 class="mt-3 mb-3">Редактирование данных</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="id_first_name">{{ form.first_name.label }}</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
            <div class="text-danger">{{ form.first_name.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_last_name">{{ form.last_name.label }}</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
            <div class="text-danger">{{ form.last_name.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_email">{{ form.email.label }}</label>
            {{ form.email }}
            {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_phone_number">{{ form.phone_number.label }}</label>
            {{ form.phone_number }}
            {% if form.phone_number.errors %}
            <div class="text-danger">{{ form.phone_number.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="theme-btn btn-style-one mb-4" style="background-color: #34A853; margin-top: 10px;">Сохранить изменения</button>
    </form>
</div>

{% endblock %}
</body>
</html>