{% extends 'base.html' %}
<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удаление аккаунта</title>
</head>
<body>
{% block content %}
<section class="ls-section" style="border: none; padding-top: 20px;">

    <div class="auto-container">
        <div class="container text-center">
            <h2 style="color: black;">Резюме </h2>
            <!--            <p style="color: black; margin-top: 10px;">Вы уверены, что хотите удалить свой аккаунт? Это действие-->
            <!--                необратимо и приведет к потере всех ваших данных.</p>-->
        </div>
        <div class=""
             style="background-color: #fff; border-radius: 10px; margin: 20px auto; justify-content: center;">
            <div class="inner-box">
                <div class="container mt-3">

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="theme-btn btn-style-one bg-blue mt-4" style="background-color: #34A853;">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}
</body>
</html>
