{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="bg-default-1 pt-20 pt-lg-28 pb-13 pb-lg-25">
      <div class="container">
        <div class="row justify-content-center">

              <!-- Main Body -->
          <div class="col-12 col-xl-8 col-lg-8">
                <!-- form -->
            <div class="pt-12">
              <div class="d-flex align-items-center justify-content-between mb-6">
                <h5 class="font-size-9 font-weight-normal text-gray">
                  <span class="heading-default-color"><b>Восстановление пароля</b></span>
                </h5>
              </div>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Отправить письмо для сброса пароля</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}