{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="page-title">
      <div class="auto-container">
        <div class="title-outer">
          <h1>Голосовые комнаты</h1>
          <ul class="page-breadcrumb">
            <li><a href="{% url 'jobs:home' %}">Главная</a></li>
            <li>Голосовые комнаты</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="ls-section">
      <div class="auto-container">
        <div class="filters-backdrop"></div>

        <div class="row" style="justify-content: center;">

          <!-- Content Column -->
          <div class="content-column col-lg-8 col-md-12 col-sm-12">
            <div class="ls-outer">
              <button type="button" class="theme-btn btn-style-two toggle-filters">Show Filters</button>


              <div class="row">

                {% for r in room_list%}
                <div class="company-block-four col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <button class="bookmark-btn"><span class="flaticon-bookmark"></span></button>
                    <span class="featured">{{ r.get_status_display }}</span>
                    <span class="company-logo">
                      <img src="{% static 'images/favicon.png' %}" alt="">
                    </span>
                    <h4><a href="{{ r.link }}">{{ r.name }}</a></h4>
                    <ul class="job-info">
                      <li><span class="icon flaticon-map-locator"></span> {{ r.time_start }}</li>
                      <li><span class="icon flaticon-briefcase"></span> {{ r.speaker }}</li>
                    </ul>
                  </div>
                </div>
                {% endfor %}
              </div>

              <!-- Pagination -->
              <nav class="ls-pagination">
                <ul>
                  {% if room_list.has_previous %}
                    <li class="prev">
                      <a href="?page={{ room_list.previous_page_number }}">
                        <i class="fa fa-arrow-left"></i>
                      </a>
                    </li>
                  {% else %}
                    <li class="prev disabled">
                      <a href="#">
                        <i class="fa fa-arrow-left"></i>
                      </a>
                    </li>
                  {% endif %}

                  {% for num in room_list.paginator.page_range %}
                    {% if room_list.number == num %}
                      <li><a href="#" class="current-page">{{ num }}</a></li>
                    {% else %}
                      <li>
                        <a href="?page={{ num }}">{{ num }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}

                  {% if room_list.has_next %}
                    <li class="next">
                      <a href="?page={{ room_list.next_page_number }}">
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </li>
                  {% else %}
                    <li class="next disabled">
                      <a href="#">
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </nav>

            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}